<h1><center>Python Handson</center></h1>

üî¢ List Problems
- Given a list of numbers, remove all duplicates and keep the order intact.
- Write a function to find the second largest number in a list.
- Reverse a list without using [::-1] or reverse().
- Merge two lists and remove common elements.
- Find all elements in a list that appear more than once.

## Q1. Given a list of numbers, remove all duplicates and keep the order intact.

In [19]:
# without inbuilt function

def unique_numbers(num_list):
    clean_list=[]
    for i in num_list:
        if i in clean_list:
            pass
        else:
            clean_list.append(i)
    return clean_list

def sort_numbers(numlist):
    for i in range(0,len(numlist)):
        for j in range (i+1,len(numlist)):
            if numlist[i]>numlist[j]:
                temp=numlist[i]
                numlist[i]=numlist[j]
                numlist[j]=temp
    return numlist

a=[1,4,4,4,2,2,6,5]

sort_numbers(unique_numbers(a))

[1, 2, 4, 5, 6]

In [21]:
#with inbuilt function

a = [1,4,4,4,2,2,6,5]
unique_sorted = sorted(set(a), reverse=False)
print(unique_sorted)

[1, 2, 4, 5, 6]

**Quick insights:**
- list.sort(): In-place sorting of a list, **modifies the original list**, returns None.
- sorted(): Built-in function, **returns a new sorted list (or any iterable), leaves original unchanged**.
- DataFrame.sort_values(): Pandas method, sorts rows of a DataFrame/Series by column values, more powerful than the deprecated .sort().

## Q2.Write a function to find the second largest number in a list.

In [57]:
lst = [10,40,20,30,50]

def second_largest(num):
    new_list =sorted(set(num))
    new_list.pop()
    return max(new_list)
second_largest(lst)

40

‚ö†Ô∏è Edge cases
- If the list has fewer than 2 unique elements, this will fail (max([]) ‚Üí ValueError).
- Example: [5,5,5] ‚Üí after set ‚Üí [5], .pop() leaves empty list, max([]) errors.

In [58]:
def second_largest(num):
    new_list = sorted(set(num))
    if len(new_list) < 2:
        return None
    return new_list[-2]

print(second_largest([10,40,20,30,50]))  # 40
print(second_largest([5,5,5]))           # None
print(second_largest([10,20]))           # 10

40
None
10

## Q3.Reverse a list without using [::-1] or reverse().

In [59]:
lst

[10, 40, 20, 30, 50]

In [76]:
def reverse_list(lst):
    r_list=[]
    for i in range(len(lst)-1,-1,-1):
        r_list.append(lst[i])
    return r_list

In [77]:
reverse_list(lst)

[50, 30, 20, 40, 10]

#### with recursion

In [78]:
def rev_list(lst):
    if len (lst)==0:
        return []
    return [lst[-1]]+rev_list(lst[:-1])

In [79]:
rev_list(lst)

[50, 30, 20, 40, 10]

- Base case: If the list has 0 or 1 element, just return it.
- Recursive step: Take the last element (lst[-1]) and put it in front of the reversed version of the rest (lst[:-1]).
- This keeps peeling off the last element until the list is empty

## Q4.Merge two lists and remove common elements.

In [91]:
lst1 = [1,3,5,7]
lst2 = [1,3,4,6]

def merge_list(list1,list2):
    l1=[]
    l2=[]
    for i in list1:
        if i not in list2:
            l1.append(i)
    for i in list2:
        if i not in list1:
            l2.append(i)
    return l1+l2

merge_list(lst1,lst2)

[5, 7, 4, 6]

In [92]:
#Simplified Version (using set symmetric difference)
#You can achieve the same result more concisely with sets:

def merge_list(list1, list2):
    return list(set(list1) ^ set(list2))

print(merge_list(lst1, lst2))  # [4, 5, 6, 7]

#  ^ is the symmetric difference operator: it returns elements in either set but not both.

[4, 5, 6, 7]

In Python sets:
- & (ampersand) ‚Üí intersection ‚Üí elements common to both sets.
- ^ (caret) ‚Üí symmetric difference ‚Üí elements in either set, but not in both

## Q5. Find all elements in a list that appear more than once.

In [103]:
lst1 = [10,10,10,2,3,3,4,5,5,7]

In [106]:
# using set

def counter(num):
    nums = []
    for i in lst1:                
        if lst1.count(i) > 1:     
            nums.append(i)
    return set(nums)

print(counter(lst1))

{10, 3, 5}

In [107]:
# using set comprehension

def counter(num):
    return {i for i in num if num.count(i)>1}

counter(lst1)

{3, 5, 10}

üì¶ Tuple Problems
- Given a tuple of numbers, find the maximum and minimum without using max() or min().
- Convert a list of tuples into a dictionary (e.g., [("a",1),("b",2)] ‚Üí {"a":1,"b":2}).
- Swap two tuples without using a temporary variable.
- Write a function that takes a tuple of strings and returns a tuple with their lengths.
- Check if a tuple is a palindrome (same forward and backward).

## Q6.Given a tuple of numbers, find the maximum and minimum without using max() or min().

In [118]:
t1 = (1,2,5,3,7,7)

def data_sort(num):
    num1 = sorted(set(num))
    min_num = num1[0]
    max_num = num1[-1]

    return min_num,max_num

data_sort(t1)

(1, 7)

## Q7. Convert a list of tuples into a dictionary (e.g., [("a",1),("b",2)] ‚Üí {"a":1,"b":2}).

In [124]:
list_tuple = [("a",1),("b",2)]

result = {i:j for i,j in list_tuple}

result

{'a': 1, 'b': 2}

In [123]:
list_tuple = [("a",1),("b",2)]
result = dict(list_tuple)
print(result)  # {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

## Q8. Swap two tuples without using a temporary variable.

In [125]:
t1 = (1,2,3)
t2 = (4,5,6)

t1,t2 = t2,t1

print("t1",t1)
print("t2",t2)

t1 (4, 5, 6)
t2 (1, 2, 3)

## Q9. Write a function that takes a tuple of strings and returns a tuple with their lengths.

In [129]:
name = ("ashwin","ashwin","raj","chennai")

def len_string(data):
    res = tuple([len(i) for i in data])
    return res

len_string(name)

(6, 6, 3, 7)

## Q10. Check if a tuple is a palindrome (same forward and backward).

In [134]:
t1 = ("madam")

def check_palindrome(data):
    if t1 == t1[::-1]:
        return "Palindrome"
    else:
        return "Not a Palindrome"

check_palindrome(t1)

'Palindrome'

üìñ Dictionary Problems
- Count the frequency of each word in a sentence and store it in a dictionary.
- Merge two dictionaries and sum values of common keys.
- Given a dictionary of student names and marks, find the top 3 scorers.
- Invert a dictionary (keys become values, values become keys).
- Write a program to group words by their first letter using a dictionary

## Q11. Count the frequency of each word in a sentence and store it in a dictionary.

In [191]:
sent = ["Count the frequency of each word in a sentence and store it in a dictionary"]

words = ' '.join(sent).lower().split()

res={i:words.count(i) for i in words}

print(res,end='')

{'count': 1, 'the': 1, 'frequency': 1, 'of': 1, 'each': 1, 'word': 1, 'in': 2, 'a': 2, 'sentence': 1, 'and': 1, 'store': 1, 'it': 1, 'dictionary': 1}

{i: sent.count(i) for i in sent}
works, but it‚Äôs inefficient because:
- sent.count(i) scans the entire list for each word.
- That makes it O(n¬≤) time complexity.

In [187]:
from collections import Counter

sent = ["Count the frequency of each word in a sentence and store it in a dictionary"]
words = ' '.join(sent).lower().split()
res = dict(Counter(words))
print(res)

{'count': 1, 'the': 1, 'frequency': 1, 'of': 1, 'each': 1, 'word': 1, 'in': 2, 'a': 2, 'sentence': 1, 'and': 1, 'store': 1, 'it': 1, 'dictionary': 1}

## Q12. Merge two dictionaries and sum values of common keys.

In [197]:
q1 = {'a':2,'b':5}
q2 = {'b':5,'c':4}

{i:q1.get(i,0)+q2.get(i,0) for i in sorted(set(q1)|set(q2))}

{'a': 2, 'b': 10, 'c': 4}

In [198]:
from collections import Counter

q1 = {'a':2,'b':5}
q2 = {'b':5,'c':4}

res = dict(Counter(q1) + Counter(q2))
print(res)  # {'a': 2, 'b': 10, 'c': 4}

{'a': 2, 'b': 10, 'c': 4}

## Q13. Given a dictionary of student names and marks, find the top 3 scorers.

In [215]:
students = {
    "name1": 85,
    "name2": 92,
    "name3": 78,
    "name4": 88,
    "name5": 88,
    "name6": 91
}

In [218]:
sorted_students=sorted(students.items(),key = lambda x: x[1],reverse = True)

In [221]:
unique_scores = sorted(set(students.values()),reverse=True)

In [241]:
third_score = unique_scores[:3]

In [248]:
top_3={key:values for key , values in dict(sorted_students).items() if values in third_score}

In [249]:
top_3

{'name2': 92, 'name6': 91, 'name4': 88, 'name5': 88}

## Q14. Invert a dictionary (keys become values, values become keys).

In [255]:
students = {
    "name1": 81,
    "name2": 92,
    "name3": 78,
    "name4": 88,
    "name5": 88,
    "name6": 91
}

In [256]:
rev_dict = {value:key for key ,value in students.items()}
rev_dict

{81: 'name1', 92: 'name2', 78: 'name3', 88: 'name5', 91: 'name6'}

name 4 and 5 sahres same score. In dictionary keys should be unique. name 4 is replaced by name5.

In [258]:
from collections import defaultdict

dict1 = defaultdict(list)

for key ,value in students.items():
    dict1[value].append(key)

dict1

defaultdict(list,
            {81: ['name1'],
             92: ['name2'],
             78: ['name3'],
             88: ['name4', 'name5'],
             91: ['name6']})

## Q15. Write a program to group words by their first letter using a dictionary

In [259]:
words = ["apple", "ant", "banana", "ball", "cat", "car", "dog", "doll", "elephant"]

In [279]:
from collections import defaultdict

group_dict = defaultdict(list)

for i in words:
    group_dict[i[0]].append(i)

dict(group_dict)

{'a': ['apple', 'ant'],
 'b': ['banana', 'ball'],
 'c': ['cat', 'car'],
 'd': ['dog', 'doll'],
 'e': ['elephant']}

üîÑ Loop Problems
- Print the Fibonacci sequence up to n terms using a loop.
- Write a loop to check if a number is prime.
- Print a multiplication table (1 to 10) using nested loops.
- Given a list of numbers, use a loop to separate even and odd numbers into two lists.
- Write a loop to calculate the factorial of a number without recursion.

## Q16. Print the Fibonacci sequence up to n terms using a loop.

In [282]:
def fibonacci(num):
    a=0
    b=1
    for i in range(num):
        print(a,end='')
        a,b=b,a+b
fibonacci(10)

0112358132134

## Q17. Write a loop to check if a number is prime.

In [287]:
def is_prime(num):
    for i in range(2,int(num**0.5)+1):
        if num%i == 0:
            return "Not a Prime number"
    return "Prime Number"

is_prime(29)

'Prime Number'

## Q18. Print a multiplication table (1 to 10) using nested loops.

In [293]:
for i in range(1,11):
    for j in range(1,11):
        print (f" {i} * {j} = ",i*j )
    print()

 1 * 1 =  1
 1 * 2 =  2
 1 * 3 =  3
 1 * 4 =  4
 1 * 5 =  5
 1 * 6 =  6
 1 * 7 =  7
 1 * 8 =  8
 1 * 9 =  9
 1 * 10 =  10

 2 * 1 =  2
 2 * 2 =  4
 2 * 3 =  6
 2 * 4 =  8
 2 * 5 =  10
 2 * 6 =  12
 2 * 7 =  14
 2 * 8 =  16
 2 * 9 =  18
 2 * 10 =  20

 3 * 1 =  3
 3 * 2 =  6
 3 * 3 =  9
 3 * 4 =  12
 3 * 5 =  15
 3 * 6 =  18
 3 * 7 =  21
 3 * 8 =  24
 3 * 9 =  27
 3 * 10 =  30

 4 * 1 =  4
 4 * 2 =  8
 4 * 3 =  12
 4 * 4 =  16
 4 * 5 =  20
 4 * 6 =  24
 4 * 7 =  28
 4 * 8 =  32
 4 * 9 =  36
 4 * 10 =  40

 5 * 1 =  5
 5 * 2 =  10
 5 * 3 =  15
 5 * 4 =  20
 5 * 5 =  25
 5 * 6 =  30
 5 * 7 =  35
 5 * 8 =  40
 5 * 9 =  45
 5 * 10 =  50

 6 * 1 =  6
 6 * 2 =  12
 6 * 3 =  18
 6 * 4 =  24
 6 * 5 =  30
 6 * 6 =  36
 6 * 7 =  42
 6 * 8 =  48
 6 * 9 =  54
 6 * 10 =  60

 7 * 1 =  7
 7 * 2 =  14
 7 * 3 =  21
 7 * 4 =  28
 7 * 5 =  35
 7 * 6 =  42
 7 * 7 =  49
 7 * 8 =  56
 7 * 9 =  63
 7 * 10 =  70

 8 * 1 =  8
 8 * 2 =  16
 8 * 3 =  24
 8 * 4 =  32
 8 * 5 =  40
 8 * 6 =  48
 8 * 7 =  56
 8 * 8 =  64
 8 * 9 =  72
 8 * 10 =  80

 9 * 1 =  9
 9 * 2 =  18
 9 * 3 =  27
 9 * 4 =  36
 9 * 5 =  45
 9 * 6 =  54
 9 * 7 =  63
 9 * 8 =  72
 9 * 9 =  81
 9 * 10 =  90

 10 * 1 =  10
 10 * 2 =  20
 10 * 3 =  30
 10 * 4 =  40
 10 * 5 =  50
 10 * 6 =  60
 10 * 7 =  70
 10 * 8 =  80
 10 * 9 =  90
 10 * 10 =  100

## Q19. Given a list of numbers, use a loop to separate even and odd numbers into two lists.

In [298]:
even = []
odd = []

[even.append(i) if i%2==0 else odd.append(i) for i in range(1,20)]

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

‚ö†Ô∏è Note
Using list comprehensions for side effects (like .append()) is considered unpythonic. A cleaner way is:

In [299]:
even, odd = [], []

for i in range(1, 20):
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Q20. Write a loop to calculate the factorial of a number without recursion.

In [301]:
def factorial(num):
    res = 1
    for i in range(1,num+1):
        res *= i
    return res

factorial(int(input("enter")))

enter 5

120

with recursion

In [309]:
def factorial(num):
    if num == 0 or num == 1:
        return 1
    return num * factorial(num-1)
print(factorial(int(input("enter: "))))

enter:  5

120

üöÄ Challenge Combo
- Take a list of student records (name, marks) stored as tuples.
- Convert it into a dictionary with names as keys and marks as values.
- Use a loop to print "Pass" if marks ‚â• 40, else "Fail".
- Bonus: Sort the dictionary by marks and print the top scorer.

In [335]:
students = [
    ("Ashwin", 85),
    ("Raj", 92),
    ("Meena", 78),
    ("Kumar", 95),
    ("Divya", 88),
    ("Arun", 91),
    ("Ravi", 92)
]

In [346]:
students_dict={i:j for i , j in students}

for key,value in students_dict.items():
    if value >= 40:
        print(key , "Pass")
    else:
        print(key , "Fail")
        
unique_marks = sorted(set({value for key,value in students_dict.items()}),reverse=True)[:3]

unique_marks

top_scorers={key:value for key, value in sorted(students_dict.items(),key = lambda x:x[1],reverse=True) if value in unique_marks}

top_scorers

Ashwin Pass
Raj Pass
Meena Pass
Kumar Pass
Divya Pass
Arun Pass
Ravi Pass

{'Kumar': 95, 'Raj': 92, 'Ravi': 92, 'Arun': 91}

## 1/4/2026

**Q1. Problem Statement:**

You are given a list of student names and their scores in a test. Write a Python function that:
- Groups students by their score.
- Ranks the scores in descending order.
- Returns a dictionary where the keys are the ranks (1 for highest score, 2 for second highest, etc.) and the values are lists of student names who share that rank.

Example Input:

In [50]:
students = [
    ("Alice", 95),
    ("Bob", 85),
    ("Charlie", 95),
    ("David", 70),
    ("Eve", 85),
    ("Frank", 60)
]

Expected Output:

{
    1: ["Alice", "Charlie"],   # both scored 95
    2: ["Bob", "Eve"],         # both scored 85
    3: ["David"],              # 70
    4: ["Frank"]               # 60
}

In [58]:
from collections import defaultdict

group_students = defaultdict(list)

for key,value in students.items():
    group_students[value].append(key)

group_students=dict(group_students)

rank = sorted(set(students.values()),reverse=True)

rank_dict={rank[i]:i+1 for i in range(0,len(rank))}

final_result={rank_dict.get(key,key):value for key , value in group_students.items()}

final_result

{1: ['Alice', 'Charlie'], 2: ['Bob', 'Eve'], 3: ['David'], 4: ['Frank']}

In [59]:
# Step 3: Assign ranks
final_result = {}
for i, score in enumerate(rank, start=1):
    final_result[i] = group_students[score]
final_result

{1: ['Alice', 'Charlie'], 2: ['Bob', 'Eve'], 3: ['David'], 4: ['Frank']}

**Q2. Problem Statement**

You are given a list of sentences. Write a Python function that:
- Counts how many times each word appears (case‚Äëinsensitive).
- Returns the top N most frequent words along with their counts.
- Ignores punctuation like .,!? when counting words.

In [96]:
sentences = [
    "Data science is fun!",
    "Python makes data science easier.",
    "Science and Python go hand in hand."
]

expected Output:

[("science", 3), ("python", 2), ("data", 2)]

In [146]:
# My Initial Approach

import string

#--------------Common an quick way to cleanpunctiations
translator=str.maketrans('','',string.punctuation)

clean = [i.translate(translator).lower() for i in sentences]

clean
#---------------
words=[]
for i in clean:
    words.extend(i.split())

from collections import Counter

sorted(set([(i,words.count(i))for i in words]),key = lambda x:(-x[1],x[0]))[:3]

[('science', 3), ('data', 2), ('hand', 2)]

In [130]:
from collections import Counter
import string

translator = str.maketrans('', '', string.punctuation)
clean = [s.translate(translator).lower() for s in sentences]

words = []
for s in clean:
    words.extend(s.split())

counter = Counter(words)
print(counter.most_common(3))

# - most_common(3) ‚Üí returns the top 3 items sorted by frequency (highest first).
#- If two items have the same frequency, their order depends on when they first appeared in the data (unless you sort explicitly).

[('science', 3), ('data', 2), ('python', 2)]

In [145]:
# Final Learning

from collections import Counter
import string
def freq_count(data,n):
    translator=str.maketrans('','',string.punctuation)
    clean = [i.translate(translator).lower() for i in data]
    words=[]
    for i in clean:
        words.extend(i.split())   

    counter = Counter(words).most_common() # used for sorting in descending order
    #result = sorted(counter.items(),key = lambda x:(-x[1],x[0])) used for manual sort
    
    return counter[:n]
    
freq_count(sentences,3)

[('science', 3), ('data', 2), ('python', 2)]

The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

Syntax

str.maketrans(x, y, z)

-  x -	Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.
-  y -	Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.
-  z -	Optional. A string describing which characters to remove from the original string.

In [3]:
txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

Hello Pam!

In [4]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [5]:
mytable

{109: 101, 83: 74, 97: 111}

The maketrans() method itself returns a dictionary describing each replacement, in unicode:

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

## 1/5/2026

Python Collections (Arrays)
There are four collection data types in the Python programming language:

- **List** is a collection which is **ordered and changeable**. **Allows duplicate** members.
- **Tuple** is a collection which is **ordered and unchangeable**. **Allows duplicate** members.
- **Set** is a collection which is **unordered, unchangeable, and unindexed**. **No duplicate** members.
- **Dictionary** is a collection which is **ordered and changeable**. **No duplicate** members.Python Collections (Arrays)

When we say a collection is ordered, it means:
- The elements have a defined sequence ‚Äî each item has a fixed position (index) in the collection.
- When you iterate over the collection, items come out in the same order they were inserted.
- You can reliably access elements by their position (like list[0], tuple[1]).

- Ordered = predictable sequence, index-based access possible.
- Unordered = no guaranteed sequence, you can‚Äôt rely on positions.

### Python frozenset

frozenset is an immutable version of a set.

Like sets, it contains unique, unordered, unchangeable elements.

Unlike sets, elements cannot be added or removed from a frozenset.

In [10]:
# Creating a frozenset:

x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

Being immutable means you cannot add or remove elements. However, frozensets support all non-mutating operations of sets.

- copy() - Returns a shallow copy.
- difference() - (-) Returns a new frozenset with the difference
- intersection() - (&) Returns a new frozenset with the intersection
- isdisjoint() - Returns whether two frozensets have an intersection
- issubset() - (<=/<) Returns True if this frozenset is a (proper) subset of another
- issuperset() - (>=/>) Returns True if this frozenset is a (proper) superset of another
- symmetric_difference() - (^) Returns a new frozenset with the symmetric differences
- union() - ( | ) Returns a new frozenset containing the union

# 1/6/2025

üß© Problem: Ranking Students by Scores with Tie Handling
You are given a list of student names and their scores. Write a Python function that:
- Ranks students in descending order of scores.
- If two students have the same score, they should share the same rank.
- The next student‚Äôs rank should skip accordingly (like Olympic ranking).

In [1]:
students = [
    ("Alice", 95),
    ("Bob", 85),
    ("Charlie", 95),
    ("David", 80),
    ("Eve", 85),
    ("Frank", 70)
]

[
    ("Alice", 95, 1),
    ("Charlie", 95, 1),
    ("Bob", 85, 3),
    ("Eve", 85, 3),
    ("David", 80, 5),
    ("Frank", 70, 6)
]

### my approach

In [57]:
rank_dict={}
students = sorted(students,key = lambda x:x[1],reverse=True)
n=1
rank_list=[]
for row,rank in enumerate(students,start=1):
    if rank[1] not in rank_list:
        rank_dict[rank[1]] = row
        rank_list.append(rank[1])
    else:
        n+=1
        rank_dict[rank[1]] = row-1
rank_dict  
[(i,j,rank_dict.get(j,j)) for i, j in students]

[('Alice', 95, 1),
 ('Charlie', 95, 1),
 ('Bob', 85, 3),
 ('Eve', 85, 3),
 ('David', 80, 5),
 ('Frank', 70, 6)]

### Online Solution

In [56]:
def rank_students(students):
    # Sort by score descending
    students = sorted(students, key=lambda x: x[1], reverse=True)
    
    result = []
    prev_score = None
    prev_rank = 0
    
    for idx, (name, score) in enumerate(students, start=1):
        # If score is same as previous, use same rank
        if score == prev_score:
            rank = prev_rank
        else:
            rank = idx  # Olympic ranking: rank = position in sorted list
        
        result.append((name, score, rank))
        
        # Update trackers
        prev_score = score
        prev_rank = rank
    
    return result


students = [
    ("Alice", 95),
    ("Bob", 85),
    ("Charlie", 95),
    ("David", 80),
    ("Eve", 85),
    ("Frank", 70)
]

print(rank_students(students),end='')

[('Alice', 95, 1), ('Charlie', 95, 1), ('Bob', 85, 3), ('Eve', 85, 3), ('David', 80, 5), ('Frank', 70, 6)]